#container-connection {
    position: absolute;
    padding: 4%;
    margin: 12% 30%;
    width: 40%;
    background-color: rgba(146, 146, 146, 0.836);
    border: 1px solid rgba(146, 146, 146, 0.836);
    border-radius: 10px;
}

body {
    background-color: rgb(201, 200, 200);
}
