.addMusique{
    position: fixed;
    opacity: 0.2;
    top: 80%;
    left: 20%;
    width: 60%;
    border-radius: 10px;
    background-color: #343a40;
    padding: 2%;
    z-index: 10;
}

.addMusique:hover{
    opacity: 1;
}

.btn{
    width: 100%;
}

#player{
    margin-top: 5%;
    margin-left: 29%;
    margin-bottom: 3%;
}